// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-green: rgb(95,187,126);
$color-white: #fff;
$grey-700: #495057;
$grey-600: #6c757d;
$grey-500: #adb5bd;
$warning: #ffc107;
$green: #28a745;
